
/*top of page alignment*/
#header {width: 960px;
      float: left;
      padding: 0px;
}

/*Name header*/
#name {background-color: #4aaaa5; 
    color: white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 20%;
    text-align: center;
    
}

/*content area*/
.main {background-color: rgb(221, 142, 23);
    width: 960px;
    float: left;
    margin-top: 20px
}

/*buttons*/
.button {background-color: #ffffff;
        color: black;
        width: 90px;
        border-style: solid;
        border-color: #4aaaa5;
        border-width: 1px;
        border-radius: 8px;
        text-align: center;
        float: right;
        font-size: 16px
}

.button:hover {background-color: #4aaaa5;
            color: #ffffff;


}
