html{max-height: 100%}

#body {display: flex;
      flex-direction: column;
      height: 100%;
}

#background {
      background-image: url("light_honeycomb.png")
     /* background-color: black; */

}

#header {background-color: rgb(255, 255, 255);
max-width: 100%;
}

#name {background-color: #4aaaa5;
color: #ffffff;
width: 200px;
height: 80px;
text-align: center;
margin: 0 160px 0;
}

.buttons { position: relative;
        left: 950px;
        top: -55px;

}

.content {background-color: rgb(255, 255, 255);
      max-width: 960px;
      max-height: 960px;
      position: relative;
      left: 160px;
      flex: 1 0 auto 0;
      padding: 0 0 0 0;
}

#bio { 
      font-size: 16px;
      max-width: 600px;
      position: absolute;
      left: 300px;
    


}

#ethan {
    max-width: 300px;
    max-height: 300px;  
    position: relative;
    margin: 20px 0 60px 20px;
  }
  
  


.footer {
      position: sticky;
      background-color: #777777;
      flex-shrink: 0;
      padding: 40px;
      border-top: 8px solid #4aaaa5;
      
      
}
